html, body{
  display: flex;
  justify-content: center;
  height: 100%; 
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#todo-list li:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

#todo-list{
  text-align: left;
  list-style-type: '➡️ ';
}